<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
</style>

{{> adminheader}}

<body>
  <section class="px-3">
    <h2>All Orders</h2>

  <div class="dropdown float-right pl-2 mb-3">
                  <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Status<i class="ti ti-adjustments"></i>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item " href="/admin/filterstatus/pending">
                      Pending</a>
                    <a
                      class="dropdown-item "
                      href="/admin/filterstatus/Shipped"
                    > Shipped </a>
                    <a
                      class="dropdown-item " 
                      href="/admin/filterstatus/Delivered"
                    > Delivered</a>
                    <a
                      class="dropdown-item"
                      href="/admin/filterstatus/Cancelled"
                    > Cancelled</a>
                    <a
                      class="dropdown-item"
                      href="/admin/allorders"
                    > All</a>
                  </div>
                </div>
                <div class="dropdown float-right pl-2">
                  <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Payment<i class="ti ti-adjustments"></i>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item" href="/admin/filter/cod">
                      COD</a>
                    <a
                      class="dropdown-item"
                      href="/admin/filter/razorpay"
                    > Online</a>
                    <a
                      class="dropdown-item"
                      href="/admin/allorders"
                    > All</a>
                  </div>
                </div>
                <div class="dropdown float-right pl-2">
                  <span>Filters:   </span>

                  <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Price<i class="ti ti-adjustments"></i>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    {{!-- href="/admin/filter/?l=0&h=20000"> --}}
                    <a class="dropdown-item"
                    id="price"
                     href="/admin/filter/?l=0&h=20000"
                      >Less than ₹20000</a>
                    <a
                      class="dropdown-item price"
                      href="/admin/filter/?l=20000&h=30000"
                    > ₹20000-30000 </a>
                    <a
                      class="dropdown-item price"
                      href="/admin/filter/?l=30000&h=100000"
                    > More than ₹30000</a>
                    <a
                      class="dropdown-item price"
                      href="/admin/allorders"
                    >All</a>
                  </div>
                </div>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Product</th>
        <th>Order ID</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td>{{this.name}}</td>
        <td><a href="/admin/product/{{this._id}}">Product details</a></td>
        <td>{{this.orderid}}</td>
        <td>{{this.totalprice}}</td>
        <td>{{this.status}}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              More
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" onclick="confirmAction('/admin/confirm/{{_id}}')">Confirm</a>
              <a class="dropdown-item" href="#" onclick="confirmAction('/admin/shipped/{{_id}}')">Shipped</a>
              <a class="dropdown-item" href="#" onclick="confirmAction('/admin/delivered/{{_id}}')">Delivered</a>
              <a class="dropdown-item" href="#" onclick="confirmAction('/admin/cancelled/{{_id}}')">Cancelled</a>
            </div>

          </div>
        </td>
      </tr>
      {{/each}}
  </table>
  </section>
  <script>
    function confirmAction(url) {
      if (confirm("Are you sure you want to perform this action?")) {
        window.location.href = url;
      }
    }

  </script>
  
</body>