


  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>

{{> adminheader}}

<body>
  <section class="px-3">
     <h2>All Products</h2>

  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
          <td><li>
            <img src="uploads/{{this.image}}" alt="" style="width:70px; height:60px">
          </li></td>
          <td>{{this.productname}}</td>    
          <td>{{this.quantity}}</td>              
          <td>{{this.price}}</td>
          <td>{{this.category}}</td>
          <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/admin/editproduct/{{this._id}}">Edit</a>
                            <a class="dropdown-item" href="/admin/deleteproduct/{{this._id}}"
                                onclick="return confirm('Are you want to Delete ?')">
                                <i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
        </tr>
      {{/each}}
  </table>
  </section>

</body>

