

{{> userheader}}

<div class="row">
    
    {{#each prodata}}
    <div class="col-md-3">
        <div class="product-card image-zoom-effect link-effect d-flex flex-wrap">
            <!-- Your card content here -->
            <div class="image-holder">
                <img src="../uploads/{{this.image}}" alt="product-item" class="product-image img-fluid"
                    style="width: 100%; height: auto;">
            </div>
            <div class="cart-concern">
                <h3 class="card-title text-uppercase pt-3 text-primary">
                    <a href="/users/productview/{{this._id}}" class="text-primary">{{this.productname}}</a>
                </h3>
                <div class="cart-info">
                    <a class="pseudo-text-effect" href="/users/addtocart/{{this._id}}" data-after="ADD TO CART"><span>₹{{this.price}}</span></a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{> userfooter}}