<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
<style>
  .text-font {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: .156rem;
    font-size: 1.125rem;
  }

  .text-price {
    padding: 0 .625rem;
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-style: normal;
    font-size: .75rem;
    font-weight: 700;
    line-height: .813rem;
    letter-spacing: 1.6px;
  }

  .text-descriptions {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-style: normal;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.125rem;
    margin: .313rem 0 .938rem;
    padding: 0 .625rem;
  }

  .button-color {
    color: #4e4e4e;
    border-color: #4e4e4e;
  }

  .button-order {
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
    font-style: normal;
    font-size: .75rem;
    font-weight: 700;
    background-color: hsl(90, 40%, 50%);
    color: white;
  }

  /* Hide the arrows in number input fields */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  body {
    background-color: #eae8e8;
  }
</style>

<body>



  <div class="container my-5 py-5">
    <!--Section: Design Block-->
    <section>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <form action="/users/postcheckout" method="post" id="placeOrderBtn">

                <div class="card mb-4">
                  <div class="card-header py-3">
                    <h5 class="mb-0 text-font text-uppercase">Select Delivery Address</h5>
                  </div>
                  <div class="card-body">
                    {{#each address}}
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="radio" name="selectaddress" id="addressOption{{@index}}"
                        value="{{@index}}" onclick="toggleAddressForm({{@index}})" data-name="{{this.name}}"
                        data-phone="{{this.phone}}" data-pincode="{{this.pincode}}" data-landmark="{{this.landmark}}"
                        data-address="{{this.address}}" data-city="{{this.city}}" data-state="{{this.state}}" checked>

                      {{this.name}} {{this.phone}}<br>
                      {{this.address}}<br>
                      {{this.city}},{{this.state}}<br>
                      {{this.pincode}}<br>
                      {{this.landmark}}
                      </label>
                    </div>

                    {{/each}}
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="radio" name="selectaddress" id="newAddressOption"
                        value="new" checked>
                      <label class="form-check-label" for="newAddressOption">
                        Enter New Address
                      </label>

                      <div class="card-body" id="newAddressForm">

                        <div class="row mb-4">
                          <div class="col">
                            <div class="form-outline">
                              <input type="text" name="name" id="form11Example1" class="form-control" value=""
                                required />
                              <label class="form-label" for="form11Example1">Name</label>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-outline">
                              <input type="number" name="phone" id="form11Example6" class="form-control" value=""
                                required />
                              <label class="form-label" for="form11Example6">Phone</label>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col">
                            <div class="form-outline mb-4">
                              <input type="number" name="pincode" inputmode="numeric" id="form11Example3" value=""
                                class="form-control" required />
                              <label class="form-label" for="form11Example3">Pincode</label>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-outline mb-4">
                              <input type="text" name="landmark" id="form11Example4" class="form-control" value=""
                                required />
                              <label class="form-label" for="form11Example4">Landmark</label>
                            </div>
                          </div>
                        </div>
                        <div class="form-outline mb-4">
                          <textarea class="form-control" name="address" id="form11Example7" rows="4" value=""
                            required></textarea>
                          <label class="form-label" for="form11Example7">Address</label>
                        </div>



                        <div class="row mb-4">
                          <div class="col">

                            <div class="form-outline mb-4">
                              <input type="text" name="city" id="form11Example5" class="form-control" value=""
                                required />
                              <label class="form-label" for="form11Example5">City</label>
                            </div>
                          </div>

                          <div class="col">
                            <div class="form-outline mb-4">
                              <select id="form11Example9" class="form-select" name="state" required>
                                <option value="" disabled selected>Select your state</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                              </select>
                              <label class="form-label" for="form11Example5">State</label>
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>

                  </div>
                </div>

            </div>

          </div>

        </div>
        <div class="col-md-4 mb-4 position-static">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0 text-font"> item {{cartCount}} </h5>
            </div>

            {{#each cart}}
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="../uploads/{{this.productId.image}}" class="rounded-3" style="width: 100px;"
                    alt="product img" />
                </div>

                <div class="col-md-6 ms-3">
                  <span class="mb-0 text-price">₹{{this.price}}</span>
                  <p class="mb-0 text-descriptions">{{this.productId.productname}} </p>
                  {{!-- <span class="text-descriptions fw-bold">Black</span> <span class="text-descriptions fw-bold">UK
                    8</span> --}}
                  <p class="text-descriptions mt-1">Qty:<span class="text-descriptions fw-bold">{{this.quantity}}</span>
                  </p>
                </div>
                {{/each}}
              </div>
              <div class="card-footer mt-4">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-muted">
                    Subtotal
                    <span>₹{{totalPrice}}</span>
                  </li>
                  <li class="text-muted">
                    <h4>redeem now</h4>
                    {{#if applied}}
                    <div class="coupon">
                      {{coupon.couponCode}}-{{coupon.amount}}/-flat discount -
                      <a class="applyCoupon" data-coupon-code="{{coupon.couponCode}}">Applied </a><span class="removeCoupon" href="" data-coupon-code="{{coupon.couponCode}}"><i
                          class="ti ti-x"></i></span>
                      <span class="appliedText" style="display:none;">Applied <span class="removeCoupon" href="" data-coupon-code="{{coupon.couponCode}}"><i
                          class="ti ti-x"></i></span></span>
                      
                    </div>
                    {{else}}
                    {{#each coupons}}
                    <div class="coupon">
                      {{this.couponCode}}-{{this.amount}}/-flat discount -
                      <a href="" class="applyCoupon" data-coupon-code="{{this.couponCode}}">Apply</a>
                      <span class="appliedText" style="display:none;">Applied <span class="removeCoupon" data-coupon-code="{{this.couponCode}}"><i class="ti ti-x"></i></span></span>
                      
                    </div>
                    {{/each}}
                    {{/if}}
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-0 fw-bold text-uppercase">
                    Discount
                    <span>₹<span id="disprice">{{disprice}}</span></span>
                  </li>

                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-0 fw-bold text-uppercase">
                    Total to pay
                    <span>₹<span id="totalprice">{{totalPay}}</span></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-4">

            <!-- Your payment option form goes here -->
            <!-- Existing HTML code -->

            <!-- Payment Options -->
            <div class="card mb-4">
              <div class="card-body">
                <p class="text-uppercase h4 text-font">Payment Options</p>
                <div class="row">
                  <div class="col-md-12">
                    <!-- Card Payment Option -->
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="radio" name="paymentOption" id="cardPayment" value="card">
                      <label class="form-check-label" for="cardPayment">
                        Credit/Debit Card
                      </label>
                    </div>

                    <!-- Cash on Delivery Option -->
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="radio" name="paymentOption" id="codPayment" value="cod">
                      <label class="form-check-label" for="codPayment">
                        Cash on Delivery
                      </label>
                    </div>

                    <!-- UPI Payment Option -->
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="radio" name="paymentOption" id="razorPayment"
                        value="razorpay" checked>
                      <label class="form-check-label" for="razorPayment">
                        Razorpay
                      </label>
                    </div>

                    <!-- Add more payment options as needed -->

                    <!-- Payment Details Fields -->
                    <!-- For example, card number, expiry date, CVV, etc. -->
                    <div id="cardPaymentFields" class="d-none">
                      <!-- Add fields for card payment details here -->
                      <div class="form-outline mb-4">
                        <input type="number" id="cardNumber" class="form-control" />
                        <label class="form-label" for="cardNumber">Card Number</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="number" id="expiryDate" class="form-control" />
                        <label class="form-label" for="expiryDate">Expiry Date</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="number" id="cvv" class="form-control" />
                        <label class="form-label" for="cvv">CVV</label>
                      </div>
                    </div>
                  </div>

                  <!-- For example, UPI ID -->
                  <div id="upiPaymentFields" class="d-none">
                    <!-- Add fields for UPI payment details here -->
                    <div class="form-outline mb-4">
                      <input type="text" id="upiId" class="form-control" />
                      <label class="form-label" for="upiId">UPI ID</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Place order button -->
            <div class="text-center">
              <button type="submit" class="btn button-order col-md-10 mb-3">Place order</button>
            </div>
            </form>

          </div>
        </div>

      </div>
  </div>

  </div>



  </section>

  <!--Section: Design Block-->
  </div>


  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <script>
    $("#placeOrderBtn").submit((e) => {
      e.preventDefault();
      var paymentMethod = $("input[name='paymentOption']:checked").val();
      console.log(paymentMethod)
      const price = $("#totalprice").text();
      if (paymentMethod === 'razorpay') {
        var formData = $("#placeOrderBtn").serialize();
        formData += '&price=' + price;
        $.ajax({
          url: '/users/postcheckout',
          method: 'POST',
          data: formData,
          success: (res) => {
            razorpay(res)
          },
          error: (xhr, status, error) => {
            console.error("AJAX Error:", status, error);
          }
        });
      }
      else if (paymentMethod === 'cod') {
        var formData = $("#placeOrderBtn").serialize();
        formData += '&price=' + price;
        $.ajax({
          url: '/users/postcheckout',
          method: 'POST',
          data: formData,
          success: (res) => {
            location.href = "/users/success"
          },
          error: (xhr, status, error) => {
            console.error("AJAX Error:", status, error);
          }
        });
      }
    });

    function razorpay(order) {
      var options = {
        "key": "rzp_test_PTrEWw4jwtJptK", // Enter the Key ID generated from the Dashboard
        "amount": order.amount * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Furnics",
        "description": "Test Transaction",
        "image": "",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
        "handler": function (response) {
          verify(response, order.receipt);
        },
        "prefill": {
          "name": $("#name").val(),
          "address": $("#address").val(),
          "contact": $("#contact").val(),
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#FFFF00"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }
    function verify(payment, orderID) {
      $.ajax({
        url: '/users/verifypayment',
        method: 'POST',
        data: {
          payment,
          orderID
        },
        success: (response) => {
          if (response == "success") {
            location.href = "/users/success" //+ orderID;
          }
          else {
            location.href = "/users/fail";
          }
        },
      })
    } 
  </script>

  <script>
    function toggleAddressForm(index) {
      var selectedAddress = document.getElementById('addressOption' + index);
      var newAddressForm = document.getElementById('newAddressForm');
      if (selectedAddress.checked) {
        // Populate the form fields with the selected address details
        document.getElementById('form11Example1').value = selectedAddress.dataset.name;
        document.getElementById('form11Example6').value = selectedAddress.dataset.phone;
        document.getElementById('form11Example3').value = selectedAddress.dataset.pincode;
        document.getElementById('form11Example4').value = selectedAddress.dataset.landmark;
        document.getElementById('form11Example7').value = selectedAddress.dataset.address;
        document.getElementById('form11Example5').value = selectedAddress.dataset.city;
        document.getElementById('form11Example9').value = selectedAddress.dataset.state;

        // Hide the new address form
        newAddressForm.style.display = 'none';
      } else {
        // Clear the form fields
        document.getElementById('form11Example1').value = '';
        document.getElementById('form11Example6').value = '';
        document.getElementById('form11Example3').value = '';
        document.getElementById('form11Example4').value = '';
        document.getElementById('form11Example7').value = '';
        document.getElementById('form11Example5').value = '';
        document.getElementById('form11Example9').value = '';

        // Show the new address form
        newAddressForm.style.display = 'block';
      }
    }
  </script>
 <script>
  document.addEventListener("DOMContentLoaded", function () {
    var applyButtons = document.querySelectorAll('.applyCoupon');

    applyButtons.forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        var couponCode = button.dataset.couponCode;

        // AJAX call to apply coupon
        $.ajax({
          type: 'POST',
          url: '/users/applycoupon',
          data: { couponCode: couponCode },
          success: function (response) {
            console.log(response);
            // Update the price on the frontend with the response
            if (response.success) {
              // Hide all "applied" texts and reset buttons
              document.querySelectorAll('.appliedText').forEach(function (appliedText) {
                appliedText.style.display = 'none';
              });
              document.querySelectorAll('.applyCoupon').forEach(function (applyButton) {
                applyButton.style.display = 'inline';
              });

              // Show "applied" text for this coupon
              button.nextElementSibling.style.display = 'inline'; // Show the "applied" text
              button.style.display = 'none'; // Hide the apply button

              $('#totalprice').text(response.grandtotal);
              $('#disprice').text(response.disPrice);
            }
            else {
              alert(response.message);
            }
          },
          error: function (xhr, status, error) {
            alert('Error applying coupon.');
          }
        });
      });
    });
  });
</script>

  <script>
    $(document).ready(function () {
      // Event listener for removing a coupon
      $(document).on('click', '.removeCoupon', function (event) {
        event.preventDefault();

        var couponCode = $(this).data('coupon-code');

        $.ajax({
          type: 'POST',
          url: '/users/removecoupon',
          data: { couponCode: couponCode },
          success: function (response) {
            console.log(response);
            window.location.reload();
            // Update the coupon status on the client-side
          },
          error: function (xhr, status, error) {
            alert('Error removing coupon.');
          }
        });
      });
    });

  </script>



</body>