
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>

  {{> userheader}}

<body>
{{#if (eq orders.length 0)}}
    <div class="col-md-12 mt-5" style="height: 225px;">
      <div class="card border-rounded shadow p-5 m-4">
        <div class="card-body">
          <h3 class="card-title">No orders</h3>
        </div>
      </div>
    </div>
  {{else}}

  <h2>Your Orders</h2>

  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product</th>
        {{!-- <th>Quantity</th> --}}
        <th>Total Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        {{#each orders}}
      <tr>
        <td>{{this.orderid}}</td>
        <td><a href="/users/product/{{this._id}}">Product details</a></td>
        {{!-- <td>2</td> --}}
        <td>{{this.totalprice}}</td>
        <td>{{this.status}}</td>
      </tr>
      
    </tbody>
    {{/each}}
  </table>
  {{/if}}

</body>

